.box{
  margin: 15px;
  width: 90vw;
  display: flex;
  justify-content: space-evenly;

}
.users{
  width: 30vw;
}
.posts{
  width: 40vw;
}
.user{
  margin: 4px;
  display: flex;
  justify-content: space-between;
  border: 1px solid burlywood;
}
.button{

  background-color: #e3e38d;
  border: 1px solid #b9b9b9;
}